@use "../utils/" as u;

.header {
  --ulMarginBottom: 0;

  &__inner {
    box-shadow: 0px 2px 6px rgba($color: u.$black, $alpha: 0.21);
  }

  &__top {
    border-bottom: 1px solid rgba($color: u.$black, $alpha: 0.1);

    &-info {
      &-list {
        margin-bottom: var(--ulMarginBottom);
        display: flex;
        align-items: center;
      }

      &-item {
        position: relative;

        &:not(:last-child) {
          padding-right: 20px;
          margin-right: 20px;

          &::after {
            position: absolute;
            right: 0;
            top: 50%;
            translate: 0 -50%;
            content: "";
            width: 1px;
            height: 20px;
            background-color: rgba($color: u.$black, $alpha: 0.2);
          }
        }
      }

      &-link {
        @include u.mix-flex-center($isInline: true);
        column-gap: 10px;

        font-size: 15px;
        color: rgba($color: u.$black, $alpha: 0.8);

        & > svg {
          color: u.$primary;
        }

        @include u.mix-hover {
          color: u.$primary;
        }
      }
    }

    &-right {
      &-list {
        margin-bottom: var(--ulMarginBottom);
        @include u.mix-flex-center($isInline: false);
        justify-content: end;
      }

      &-item {
        padding: 7px 0;
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 20px;
          padding-right: 20px;

          &::after {
            content: "";
            position: absolute;
            translate: 0 -50%;
            right: 0;
            top: 50%;
            width: 1px;
            height: 20px;
            background-color: rgba($color: u.$black, $alpha: 0.2);
          }
        }

        &-label {
          font-size: 14px;
          color: var(--color-common-black);
          font-weight: 500;

          &::after {
            position: relative;
            top: -1px;
            content: "\25BC";
            margin-left: 7px;
            font-size: 10px;
          }
        }

        &-parts {
          padding: 10px 15px;
          position: absolute;
          right: -18px;
          top: 140%;
          background-color: var(--color-common-white);
          z-index: 1;
          box-shadow: 1px 1px 3px rgba(3, 4, 28, 0.15);
          min-width: max-content;
          visibility: hidden;
          opacity: 0;

          @include u.mix-transition();

          & > * {
            padding-bottom: 10px;
            @include u.mix-hover {
              color: u.$primary;
            }
          }

          &.is-settings-list-open,
          &.is-language-list-open {
            visibility: visible;
            opacity: 1;
            top: 110%;
          }
        }
      }
    }
  }

  //Admin block
  &__middle {
    &-info {
      padding-block: 7px;
      padding-inline: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include u.mix-fluid-text(20, 14);
      font-weight: 600;
      & > span {
        animation: opacity-text 3s ease-in-out 0s infinite normal backwards;
      }
    }
  }
  @keyframes opacity-text {
    0% {
      opacity: 0;
      color: rgb(246, 128, 128);
    }
    25% {
      opacity: 0.3;
      color: rgb(244, 77, 77);
    }
    50% {
      opacity: 0.5;
      color: rgb(242, 30, 30);
    }
    75% {
      opacity: 0.7;
      color: rgb(248, 3, 3);
    }
    100% {
      opacity: 1;
      color: rgb(212, 4, 4);
    }
  }

  &__bottom {
    padding-block: 10px;
    &--sticky {
      margin-inline: auto;
      position: fixed !important;
      width: 100%;
      top: 0;
      left: 0;
      background-color: var(--color-common-white);
      box-shadow: 0px 2px 6px rgba($color: u.$black, $alpha: 0.1);
      z-index: 99;
      animation: fadeInDown 500ms ease-in-out 0s 1 normal none;
    }
  }

  &__bottom-inner {
    position: relative;
  }

  &__logo img {
    width: 50%;

    @include u.bp-only(sm) {
      width: 70%;
    }

    @include u.bp-only(lg) {
      width: 30%;
    }

    @include u.bp-up(xl) {
      width: 70%;
    }
  }

  &__search {
    width: 100%;
    position: relative;
  }

  &__actions {
    margin-bottom: 0;
    margin-left: 35px;
    &-item:not(:first-child) {
      margin-left: 20px;
    }
    &-link {
      &-wishlist {
        position: relative; 
      }
     &-badge {
      position: absolute;
      top: -9px;
      right: -15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: u.$blue;
      color: u.$white;
      @include u.mix-square(25px);
      font-weight: 500;
     }
    }
    
  }

  &__hamburger-button {
    background-color: transparent;
    color: currentColor;
    border: none;
    padding: 0;
  }
}
