@use "../../utils/" as u;

.blog-sidebar {
  position: sticky;
  top: 120px;
  margin-left: -24px;

  @include u.bp-down(md) {
    margin-top: 60px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__categories,
  &__latest {
    border: 1px solid rgba($color: u.$black, $alpha: 0.1);
    padding: 25px 25px 31px;
  }

  &__categories-content {
    & > ul {
      list-style: none;
      margin: 0;

      & > li {
        position: relative;
        display: flex;
        justify-content: space-between;

        @include u.mix-hover {
          & {
            color: u.$primary;
          }
          &::before {
            background-color: u.$primary;
          }
        }

        &::before {
          content: "";
          display: inline-block;

          @include u.mix-square(5px);

          position: absolute;
          top: 9px;
          left: -13px;
          border-radius: 50%;

          background-color: u.$placeholder-1;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        & > a {
          font-size: 16px;
        }
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 11px;
  }

  &__search {
    position: relative;
    width: 100%;
  }

  &__latest-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
   

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: u.$black, $alpha: 0.1);
      margin-bottom: 25px;
      padding-bottom: 25px;
    }

    &-img-container {
      & img {
        width: 80px;
        height: 70px;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 7px;
    }

    &-title {
      font-size: 14px;
    }

    &-meta {
        span {
            font-size: 12px;
        }
    }
  }
}
