@use "../../utils/" as u;

.blog-grid-item {
  height: 100%;
  position: relative;
  border: 1px solid #e0e2e3;

  &__image-container {
    margin-bottom: 30px;
    overflow: hidden;

    & img {
      object-fit: cover;
      @include u.mix-transition();
    }

    @include u.mix-hover {
      & img {
        transform: scale(1.1);
      }
    }
  }

  &__content {
    padding: 0 30px 28px;
    @include u.bp-between(lg, xl) {
      padding: 0 15px 27px;
    }
  }

  &__meta {
    margin-bottom: 11px;

    & > span {
      position: relative;
      font-size: 15px;

      &:not(:last-child) {
        padding-right: 8px;
        margin-right: 8px;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 2px;
          height: 20px;
          background-color: #e6e7e8;
        }
      }
    }
    & span span {
      margin-right: 2px;
      & > svg {
        translate: 0px -2px;
      }
    }
  }

  &__title {
    @include u.mix-hover {
      cursor: pointer;
    }
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 13px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
