@use "./../utils/" as u;

.breadcrumb {
  padding-top: 95px;
  padding-bottom: 50px;

  &__parallex {
    position: static;
    background-position: 50% 30px;
    background-attachment: fixed;
    background-color: transparent;
    overflow: hidden;

    @include u.bp-down(md) {
      background-position: (60% 30px);
    }
  }

  &--home {
    display: flex;
    height: 400px;
    padding: 0;
    align-items: center;

    @include u.bp-down(md) {
      height: 300px;
    }
  }

  &__title {
    margin-bottom: 6px;
    font-size: 44px;
    line-height: 1;
    font-weight: 500;

    &--home {
      position: relative;
      color: #d79317;

      &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 89px;
        display: inline-block;
        height: 3px;
        width: 50px;
        background-color: #d79317;
      }
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) span {
      position: relative;
      margin-right: 10px;
      padding-right: 10px;

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        translate: -50% -50%;

        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: u.$placeholder-1;
        border-radius: 50%;
      }
    }

    & > span {
      font-size: 16px;
      font-weight: 400;

      & a {
        @include u.mix-hover {
          color: u.$primary;
        }
      }
    }
  }
}
