@use "../utils/" as u;

.pagination {
  &__wrapper {
    margin-top: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__item {
    & span {
      @include u.mix-square(40px);
      padding: 8px 15px;
      display: inline-block;
      border: 1px solid rgba($color: u.$black, $alpha: 0.1);
      font-size: 16px;
      text-align: center;
      font-weight: 700;

      & > svg {
        translate: -3px -1px;
      }
    }

    @include u.mix-hover {
      cursor: pointer;

      & span {
        background-color: u.$primary;
        color: u.$white;
        @include u.mix-transition;
      }
    }
  }
}
