@use "../../utils/" as u;

.profile {
  padding-top: 50px;
  padding-bottom: 80px;

  @include u.bp-up(lg) {
    padding-top: 90px;
    padding-bottom: 140px;
  }

  &__title {
    margin-bottom: 20px;

    & span {
        color: u.$primary;
        font-weight: 500;
    }
  }

  &__user {
    margin-bottom: 30px;
    padding: 15px 20px 20px;
    border: 1px solid rgba($color: u.$black, $alpha: 0.1);
    border-radius: 10px;

    @include u.bp-up(md) {
      padding: 20px 30px 30px;
    }

    @include u.bp-up(xl) {
      margin-right: 60px;
    }

    &-wrapper {
      @include u.bp-up(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @include u.bp-up(lg) {
        flex-direction: row;
        column-gap: 30px;
      }

      @include u.bp-up(xl) {
        flex-direction: column;
      }
    }

    &-image-container {
      margin-bottom: 10px;
      width: 100%;
      height: 410px;

      @include u.bp-down(sm) {
        height: 510px;
      }

      @include u.bp-up(sm) {
        width: 80%;
      }

      @include u.bp-up(md) {
        margin-bottom: 16px;
        width: 60%;
      }

      @include u.bp-up(lg) {
        width: 45%;
      }

      @include u.bp-up(xl) {
        width: 100%;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 8px;

      @include u.bp-up(md) {
        row-gap: 12px;
      }

      @include u.mix-fluid-text(20, 16);

      & > * span {
        font-weight: 500;
        color: u.$primary;
      }
    }

    &-update-btn {
      margin-top: 30px;
      padding-block: 18px;
      border: none;

      @include u.mix-hover {
        background-color: u.$primary;
      }
    }
  }

  &__blogs {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f7f5f2;
    border-radius: 10px;

    @include u.bp-up(lg) {
        padding: 20px 20px 40px;
    }

    @include u.bp-up(xl) {
      margin-left: -40px;
    }

    &-title {
      margin-bottom: 30px;
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: 30px;
      &:not(:last-child) {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba($color: u.$black, $alpha: 0.1);

        @include u.bp-up(lg) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
      }

      &-meta {
        display: flex;
        font-size: 14px;

        @include u.bp-up(lg) {
            font-size: 16px;
        }
      }

      &-write {
        display: none;
        @include u.bp-up(md) {
            display: block;
        }
      }

      &-date,
      &-author {
        position: relative;

        & svg {
          translate: 0px -2px;
        }

        & > span {
          padding-right: 10px;
          margin-right: 10px;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 10px;
            width: 1px;
            height: 24px;
            background-color: rgba($color: u.$black, $alpha: 0.1);
          }
        }
      }

      &-author {
        & svg {
          height: 15px;
        }
      }

      &-btn {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        margin-left: auto;

        @include u.mix-hover {
          background-color: u.$primary;
        }
      }
    }

    &-social {
      padding-top: 30px;
      border-top: 1px solid rgba($color: u.$black, $alpha: 0.1);

      @include u.bp-up(xl) {
        margin-left: -40px;
      }

      & ul > li {
        list-style: none;
        @include u.mix-flex-center($isInline: true);

        width: 40px;
        height: 40px;
        border: 1px solid rgba($color: u.$black, $alpha: 0.1);

        &:not(:last-child) {
          margin-right: 10px;
        }

        & svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
