@use "../utils/" as u;

.backToTop {
  position: fixed;
  bottom: 0;
  right: 8%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  @include u.mix-transition($func: ease-out);

  &--show {
    visibility: visible;
    opacity: 1;
    bottom: 10%;
  }

  &__btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(32, 19, 19, 0.5);
    padding: 0;
    line-height: 44px;

    & svg {
      transform: translate(1px, -2px);
    }
  }
}
