@use "../utils/" as u;

.offcanvas {
  &__area {
    position: fixed;
    right: 0;
    top: 0;
    width: 380px;
    height: 100%;
    background: u.$white none repeat scroll 0 0;
    transform: translateX(calc(100% + 80px));
    z-index: 99999;
    @include u.mix-transition(transform, 0.3s, ease-in-out);

    &--opened {
      transform: translateX(0);
      opacity: 1;
    }

    overflow-y: scroll;
    overscroll-behavior-y:contain;
    scrollbar-width: none;

    @media (max-width: 380px) {
        width: 100%;
    }
  }

  &__wrapper {
    position: relative;
    padding: 25px 20px 145px;
    z-index: 1;
    min-height: 100%;
  }

  &__close {
    position: absolute;
    top: 31px;
    right: 20px;
  }

  &__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    @include u.mix-square(30px);
    background-color: u.$border-input;
    color: u.$black;
    padding: 0;
    line-height: 30px;
    border: none;
  }

  &__content {
    padding-bottom: 120px;
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include u.bp-up(md) {
        margin-bottom: 70px;
    }
  }

  &__categories {
    margin-bottom: 40px;
  }

  &__categories-toggle {
    display: block;
    width: 100%;
    font-size: 16px;
    padding-inline: 20px;
    padding-block: 10px;
    border: none;
    outline: none;
    background-color: u.$primary;
    color: u.$white;
    border-radius: 4px;
  }

  &__categories-mobile-menu-content {
    display: none;

    &.active {
      display: block;
    }
  }

  &__categories-mobile-menu-content ul {
    padding: 15px 0 0;
    position: static;
    margin: 0;
  }

  &__categories-mobile-menu-content ul li {
    padding: 0 20px;
    list-style: none;
    width: 100%;

    &:not(:last-child) a {
        border-bottom: 1px solid u.$border-input;
    }
  }

  &__categories-mobile-menu-content ul li a {
    display: block;
    font-size: 16px;
    padding: 10px 20px 10px 0;
  }

  &__contact {
    padding-inline: 20px;
    & > a {
        border-radius: 5px;
        border: 2px solid u.$border-input;
        padding: 12px 30px;
        background-color: transparent;
        color: u.$black;
    }
  }

  &__bottom {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 24px;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid u.$border-input
  }

}
