@use '../utils/' as u;

.section-title-area {
    padding-top: 50px;

    &__content {
        color: u.$primary;
        
        @include u.mix-fluid-text(38, 26);

        font-weight: 500;
        &::first-letter {
            text-transform: uppercase;
        }
    }

    @include u.bp-down(sm) {
        display: none;
    }

    @include u.bp-up(lg) {
        display: none;
    }
}