@import "bootstrap/scss/functions";

@import "bootstrap/scss/variables";

@import "bootstrap/scss/mixins";

@import "bootstrap/scss/maps";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/bootstrap-utilities.scss";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/_nav.scss";
@import "bootstrap/scss/_transitions.scss";
@import "bootstrap/scss/_placeholders.scss";

@import "../media/scss/main.scss";
