@use "../../utils/" as u;

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: u.$border-input;

  &__wrapper {
    @include u.mix-square(25%);
    perspective: 3000px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: boxWrapper 10s infinite linear;
  }

  &__ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: .5vw solid u.$primary;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: ringSpin 1s infinite linear;
    border-left-width: 0px;

    &-one {
      border-right-color: red;
      border-top-color: blue;
      --r: rotateY(0);
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    &-two {
      border-right-color: yellow;
      border-top-color: yellowgreen;
      --r: rotateY(-90deg);
      transform: translate(-50%, -50%) var(--r);
      animation-delay: calc(1s * .75);
    }

    &-three {
      border-right-color: blue;
      border-top-color: rebeccapurple;
      --r: rotateX(-90deg);
      transform: translate(-50%, -50%) var(--r);
      animation-delay: calc(1s * .5);
    }

  }

  @keyframes boxWrapper {
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  @keyframes ringSpin {
    to {
      transform: translate(-50%, -50%) var(--r) rotateZ(360deg);
    }
  }
}

